<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>foto detalhe</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
    {% extends "viagens/base.html" %}
    {% block title %}Home - Detalhe viagem{% endblock %}

    {% block content %}
    <!-- Conteúdo principal -->
        <div class="max-w-3xl mx-auto px-4 py-8">
            <a href="{% url 'index' %}" class="inline-block mb-4 text-green-600 hover:text-green-800 font-medium transition">
                &larr; Voltar para a galeria
            </a>

            <img src="{{ foto.imagem.url }}" alt="{{ foto.titulo }}" class="rounded shadow-lg w-full mb-6">

            <h2 class="text-2xl font-bold mb-2">Descrição</h2>
            <p class="text-gray-700 mb-4">{{ foto.descricao }}</p>

            <p class="text-sm text-gray-500">
                <strong>Local:</strong> {{ foto.local }}<br>
                <strong>Data da viagem:</strong> {{ foto.data_viagem }}
            </p>
        </div>
    {% endblock %}
</body>
</html>
